<!-- ==================================================================================================== -->
<!--  -->
<!-- ==================================================================================================== -->
<dom-module id="svg-tab-table">
  <template>
    <!-- the common style -->
    <style include="app-theme"></style>
    <!-- the current module style -->
    <style>
      :host {
      }

      .tabControlFab, .tabControlFab paper-fab  {
        color: var(--primary-color);
        background-color: var(--paper-listbox-background-color);
        --paper-fab-background: var(--paper-listbox-background-color);
        --paper-fab-disabled-background: transparent;
        --paper-fab-keyboard-focus-background: var(--primary-background-color);
      }
      .tabControlFab paper-fab {
        -moz-transform: scale(.75);
        -webkit-transform: scale(.75);
        transform: scale(.75);
      }
      #tabBckDiv {
        background-color: var(--paper-listbox-background-color);
        color: var(--paper-listbox-background-color);
        /*border: 3px solid red;*/
        position:absolute;
        pointer-events:none;
        top: 0px;
      }
      #iconDiv {
        /*background-color: green;*/
        /*border: 1px solid red;*/
      }
      #noIconBr {
        pointer-events:none;
        opacity: 0;
        line-height:0%;
      }
      #tabDiv {
        /*background-color: yellow;*/
        position: relative;
      }

    </style>

    <!-- ==================================================================================================== -->
    <!-- -->
    <!-- ==================================================================================================== -->
    <div id="tabDiv">
      <div class="horizEle" id="tabBckDiv">.</div>

      <div class="horizEle" style="width: 100%;">
        <div id="iconDiv"></div>
        <div class="horizEle tabControlFab" id="tabHead" style="width: 100%;"> <!-- border: 2px solid #383B42 -->
          <paper-tabs fit-container autoselect class="flexEle primaryColTabs primaryColHeader" selected="0" id='table_tabs' style="width:100%;"></paper-tabs>
          <paper-fab mini icon="av:fast-rewind"  id="table_tabs_prev"></paper-fab>
          <paper-fab mini icon="av:fast-forward" id="table_tabs_next"></paper-fab>
        </div>
      </div>

    </div>
    <div id="noIconBr">.</div>

    <div class="horizEle" style="position:relative;" id="table_content"></div>
  </template>

  <script>
    class SvgTabTable extends Polymer.Element {
      static get is() { return 'svg-tab-table' }

      // ---------------------------------------------------------------------------------------------------
      // properties
      // ---------------------------------------------------------------------------------------------------
      static get properties() {
        return {
          selected: {
              type: Number,
              value: 0,
              notify: true,
              reflectToAttribute: true
          },
          tableV: {
              type: Array,
              value: [],
          },
          widgetV: {
              type: Object,
              value: {},
          },
        }
      }

      // ---------------------------------------------------------------------------------------------------
      // initial settings
      // ---------------------------------------------------------------------------------------------------
      ready() {
        // this._boundListener = this._myLocationListener.bind(this);
        super.ready();
        var _this = this;
        setTimeout(function() { _this._ready(); }.bind(this), 0);
      }

      // ---------------------------------------------------------------------------------------------------
      // once everything loads...
      // ---------------------------------------------------------------------------------------------------
      _ready() {
        // console.log('ready(svg-tab-table)...')
        var _this         = this;

        this.tableV       = [];
        this.widgetV      = {};
        this.tableCssIn   = "pointer-events:auto";
        this.tableCssDis  = "pointer-events:none";
        this.tableCssOut  = "pointer-events:none;opacity:0;z-index:-1;position:absolute;display:block;top:0px;left:0px";

        this.tableCssInW  = this.tableCssIn +";width:100%;"
        this.tableCssOutW = this.tableCssOut+";width:100%;"
        this.fadeTime     = 1;

        this.selected = this.shadowRoot.querySelector("#table_tabs").selected;

        this.shadowRoot.querySelector("#table_tabs_prev").setAttribute("style", this.tableCssOutW);
        this.shadowRoot.querySelector("#table_tabs_next").setAttribute("style", this.tableCssOutW);
        this.shadowRoot.querySelector("#table_tabs")     .setAttribute("style", this.tableCssOutW);

        _this.$.table_tabs.addEventListener('iron-select', function (customEvent) {
          var selIndex = this.selected;
          _this.selected = selIndex;

          for(var nTableNow=0; nTableNow<_this.tableV.length; nTableNow++) {
            var table = _this.shadowRoot.querySelector('#'+_this.tableV[nTableNow]);
            // console.log('==',_this.tableV[nTableNow],table);

            // console.log(selIndex,nTableNow,(nTableNow == selIndex),_this.tableV[nTableNow])

            if(nTableNow == selIndex) {
              table.setAttribute("style", _this.tableCssInW);
            }
            else {
              table.setAttribute("style", _this.tableCssOutW);
            }
          }
        });

        // forward nav button
        _this.$.table_tabs_next.addEventListener('tap', function (customEvent) {
          var this_next = this;
          this_next.disabled = true;
          _this.$.table_tabs.selectNext();
          setTimeout(function(){ this_next.disabled = false; }, _this.fadeTime );
        });

        // back nav button
        _this.$.table_tabs_prev.addEventListener('tap', function (customEvent) {
          var this_prev = this;
          this_prev.disabled = true;
          _this.$.table_tabs.selectPrevious();
          setTimeout(function(){ this_prev.disabled = false; }, _this.fadeTime );
        });

        // notify the outside that this function has completed
        this.dispatchEvent(new CustomEvent('svg-tab-table-ready', { bubbles:true, composed:true, detail:{} }));

        return;
      }


      // ---------------------------------------------------------------------------------------------------
      //
      // ---------------------------------------------------------------------------------------------------
      _addTable(optIn) {
        var tableId       = optIn["tableId"];
        var tableTitle    = (optIn["tableTitle"]    != undefined) ? optIn["tableTitle"]    : "";
        var aspectRatio   = (optIn["aspectRatio"]   != undefined) ? optIn["aspectRatio"]   : !true;
        var iconSizeRatio = (optIn["iconSizeRatio"] != undefined) ? optIn["iconSizeRatio"] : 1.7;
        var iconDivId     = optIn["iconDivId"];

        var tableOuterId = tableId+"_outer";
        if(this.tableV.indexOf(tableOuterId) > -1) return;

        this.tableV.push(tableOuterId);

        if(!this.widgetV[tableId]) this.widgetV[tableId] = [];

        this.shadowRoot.querySelector("#table_tabs").scrollable = (this.tableV.length > 3);
        if(this.tableV.length == 1) {
          this.shadowRoot.querySelector("#table_tabs_prev").setAttribute("style", this.tableCssOut);
          this.shadowRoot.querySelector("#table_tabs_next").setAttribute("style", this.tableCssOut);
        }
        else {
          this.shadowRoot.querySelector("#table_tabs_prev").setAttribute("style", this.tableCssIn);
          this.shadowRoot.querySelector("#table_tabs_next").setAttribute("style", this.tableCssIn);
        }

        if((this.tableV.length == 1) && (tableTitle == "" || tableTitle == undefined)) {
          this.shadowRoot.querySelector("#table_tabs").setAttribute("style", this.tableCssOut);
        }
        else if(this.tableV.length == 1) {
          this.shadowRoot.querySelector("#table_tabs").setAttribute("style", this.tableCssDis);
        }
        else {
          this.shadowRoot.querySelector("#table_tabs").setAttribute("style", this.tableCssIn);
        }

        var divApp0 = document.createElement("div");
        divApp0.id  = tableOuterId;

        divApp0.innerHTML = "<div id='"+tableId+"'></div>"

        divApp0.setAttribute("style", this.tableCssOutW);

        var tabApp         = document.createElement("paper-tab");
        tabApp.id          = tableId+"_tab";
        tabApp.textContent = tableTitle;

        // ---------------------------------------------------------------------------------------------------
        // a possible placement for an icon-svg
        // ---------------------------------------------------------------------------------------------------
        if(this.tableV.length == 1) {
          // initialize the flag
          this.hasInitIcon = false;
          // get rid of the background stripe
          this.shadowRoot.querySelector("#tabBckDiv").setAttribute("style", "opacity:0");
          // the default space, in case we dont add an icon later...
          this.shadowRoot.querySelector("#noIconBr").setAttribute("style", "line-height:100%");
        }
        // if this is the first icon requested
        if(!this.hasInitIcon && iconDivId != undefined) {
          this.hasInitIcon = true;

          var tabH = this.shadowRoot.querySelector("#tabHead").getBoundingClientRect().height;
          var tabW = this.shadowRoot.querySelector("#tabHead").getBoundingClientRect().width;

          var iconDivH = tabH * iconSizeRatio;
          this.shadowRoot.querySelector("#iconDiv").setAttribute("style", "width:"+iconDivH+"px;height:"+iconDivH+"px;");
          this.shadowRoot.querySelector("#iconDiv").classList.add('vertEle');

          var iconDiv = document.createElement("div");
          iconDiv.id  = iconDivId;

          if(this.shadowRoot.querySelector('#'+iconDivId)) {
            this.shadowRoot.querySelector("#iconDiv").removeChild(this.shadowRoot.querySelector('#'+iconDivId));
          }
          Polymer.dom(this.shadowRoot.querySelector("#iconDiv")).appendChild(iconDiv);

          // (!)AFTER(!) the iconDiv is placed, calculate the top pos and adjust the background stripe
          var tabT = this.shadowRoot.querySelector("#table_tabs").getBoundingClientRect().top
                     - this.shadowRoot.querySelector("#tabBckDiv").getBoundingClientRect().top;

          this.shadowRoot.querySelector("#tabBckDiv").setAttribute(
            "style", "line-height:"+tabH+"px;width:"+tabW+"px;top:"+tabT+"px"
          );
        }

        this.shadowRoot.querySelector("#table_content").appendChild(divApp0);
        this.shadowRoot.querySelector("#table_tabs").appendChild(tabApp);
        Polymer.flush();

        // notify the outside that this function has completed
        this.dispatchEvent(new CustomEvent('_addTable'+tableId, { bubbles:true, composed:true, detail:{} }))

        return;
      }

      // ---------------------------------------------------------------------------------------------------
      //
      // ---------------------------------------------------------------------------------------------------
      _addWidget(tableId,eleProps) {
        var _this = this;

        // just in case, add the table in case it's not already there
        this._addTable({"tableId":tableId});

        // the properties of the new widget
        var gsX = (eleProps.x != undefined) ? eleProps.x : 0;
        var gsY = (eleProps.y != undefined) ? eleProps.y : 0;
        var gsW = (eleProps.w != undefined) ? eleProps.w : 6;
        var gsH = (eleProps.h != undefined) ? eleProps.h : 6;

        var autoPos = (eleProps["autoPos"]   != undefined) ? (eleProps["autoPos"]   ? 1    : 0    ) : 0;
        var isDark  = (eleProps["isDarkEle"] != undefined) ? (eleProps["isDarkEle"] ? true : false) : false;
        var gsId    = (eleProps["gsId"]      != undefined) ? eleProps["gsId"]
                                                           : "rndId_"+(Math.floor(Math.random()*1e8)).toString();

        // a simple div needed as an input for the gridstack
        var itemNow0 = document.createElement("div");
        itemNow0.id  = gsId;
        // itemNow0.classList.add(isDark ? "gridEleBodyDark" : "gridEleBody");

        // this.shadowRoot.querySelector('#'+tableId).setAttribute(
        //   "style","position:relative; display: block; text-align: center; width: 100%; height: auto;"
        // );

        this.shadowRoot.querySelector('#'+tableId).classList.add(isDark ? "gridEleBodyDark" : "gridEleBody");
        // this.shadowRoot.querySelector('#'+tableId).classList.add("centJustEle");
        // this.shadowRoot.querySelector('#'+tableId).classList.add("horizEle");
        itemNow0.classList.add("animChangeWH");

        this.shadowRoot.querySelector('#'+tableId).appendChild(itemNow0);
        Polymer.flush();

        function setWidgetWH() {
          var ow     = _this.shadowRoot.querySelector('#'+tableId).offsetWidth;
          var h0     = ow * 0.08;
          var wTot   = 12;
          var w0     = gsW/wTot;
          var width  = (100*w0 - .5)+"%";
          var height = (h0*gsH)+"px";

          _this.shadowRoot.querySelector('#'+gsId).setAttribute("style",
            "display: inline-block; position:relative; margin: 0.25%; border: 0px; width:"+width+"; height:"+height
          );

          return;
        }
        this.widgetV[tableId].push({ gsId:gsId, setWidgetWH:setWidgetWH });

        setWidgetWH();

        // ---------------------------------------------------------------------------------------------------
        // now attached the custom Polymer element to the new widget
        // ---------------------------------------------------------------------------------------------------
        var itemNow1      = document.createElement("svg-tab-table-element");
        itemNow1.id       = gsId+"_inner";
        itemNow1.parentId = this.id;
        itemNow1.tableId  = tableId;
        itemNow1.widgetId = gsId;

        this.shadowRoot.querySelector('#'+gsId).appendChild(itemNow1);
        Polymer.flush();

        // create the table once the svg-tab-table-element is ready
        // ---------------------------------------------------------------------------------------------------
        itemNow1.addEventListener('svg-tab-table-element-ready', function(e) {
          if(eleProps["content"] != null) {
            itemNow1.shadowRoot.querySelector('#innerContent').innerHTML = eleProps["content"];
          }

          // notify the outside that this function has completed
          _this.dispatchEvent(new CustomEvent('_addWidget', {
            bubbles:true, composed:true,
            detail:{ id:gsId, optIn:eleProps, widget:itemNow1 }
          }));
        })

        return itemNow1;
      }

      // ---------------------------------------------------------------------------------------------------
      //
      // ---------------------------------------------------------------------------------------------------
      getEle(tag) {
        return this.shadowRoot.querySelector("#"+tag);
      }

      // ---------------------------------------------------------------------------------------------------
      //
      // ---------------------------------------------------------------------------------------------------
      getTableWidgetV(tableId) {
        return this.widgetV[tableId];
      }

      // ---------------------------------------------------------------------------------------------------
      //
      // ---------------------------------------------------------------------------------------------------
      setAllWidgetWH(tableId) {
        $.each(this.widgetV[tableId], function(index,objNow) {
          objNow.setWidgetWH();
        })
        return;
      }
    }
    customElements.define(SvgTabTable.is, SvgTabTable);

  </script>
</dom-module>


<!-- ==================================================================================================== -->
<!--  -->
<!-- ==================================================================================================== -->
<dom-module id="svg-tab-table-element">
  <template>
    <!-- the common style -->
    <style include="app-theme"></style>
    <!-- the current module style -->
    <style>
      :host {
      }
    </style>
    <div id="innerContent"></div>
  </template>

  <script>
    class SvgTabTableElement extends Polymer.Element {
      static get is() { return 'svg-tab-table-element' }

      // ---------------------------------------------------------------------------------------------------
      // properties
      // ---------------------------------------------------------------------------------------------------
      static get properties() {
        return {
          parentId: {
              type: String,
              value: "",
              notify: true,
              reflectToAttribute: true
          },
          tableId: {
              type: String,
              value: "",
              notify: true,
              reflectToAttribute: true
          },
          widgetId: {
              type: String,
              value: "",
              notify: true,
              reflectToAttribute: true
          }
        }
      }

      // ---------------------------------------------------------------------------------------------------
      // initial settings
      // ---------------------------------------------------------------------------------------------------
      ready() {
        super.ready();
        var _this = this;
        setTimeout(function() { _this._ready(); }.bind(this), 0);
      }

      // ---------------------------------------------------------------------------------------------------
      // once everything loads...
      // ---------------------------------------------------------------------------------------------------
      _ready() {
        // console.log('ready(svg-tab-table-element)...')
        this.styleIn  = "";
        this.styleOut = "display:none";

        // notify the outside that this function has completed
        this.dispatchEvent(new CustomEvent('svg-tab-table-element-ready', { bubbles:true, composed:true, detail:{} }));
      }

      getEle(tag) {
        return this.shadowRoot.querySelector("#"+tag);
      }
    }
    customElements.define(SvgTabTableElement.is, SvgTabTableElement);

  </script>
</dom-module>



<!-- ==================================================================================================== -->
<!--  -->
<!-- ==================================================================================================== -->
<dom-module id="main-site-nav">
  <template>
    <!-- the common style -->
    <style include="app-theme"></style>
    <!-- the current module style -->
    <style>
      :host {
      }

    </style>

    <!-- ==================================================================================================== -->
    <!-- -->
    <!-- ==================================================================================================== -->
    <paper-listbox id="siteNavMenu">
        <paper-item class="iconListItem" onclick="window.location.href='index'">
          <iron-icon icon="home"></iron-icon> Home
        </paper-item>

        <paper-item class="iconListItem" onclick="window.location.href='view200'">
          <iron-icon icon="icons:zoom-in"></iron-icon> Array zoomer
        </paper-item>
        <paper-item class="iconListItem" onclick="window.location.href='view201'">
          <iron-icon icon="editor:show-chart"></iron-icon> Arr-zoom plots
        </paper-item>
        <paper-item class="iconListItem" onclick="window.location.href='view202'">
          <iron-icon icon="icons:group-work"></iron-icon> Sub-array pointings
        </paper-item>
        <paper-item class="iconListItem" onclick="window.location.href='view204'">
          <iron-icon icon="icons:view-module"></iron-icon> Observation blocks
        </paper-item>
        <paper-item class="iconListItem" onclick="window.location.href='view206'">
          <iron-icon icon="av:stop"></iron-icon> Scheduling Block Control
        </paper-item>
        <paper-item class="iconListItem" onclick="window.location.href='view2051'">
          <iron-icon icon="icons:zoom-out"></iron-icon> Comment Night Schedule
        </paper-item>
        <paper-item class="iconListItem" onclick="window.location.href='view205'">
          <iron-icon icon="icons:view-day"></iron-icon> Nightly Schedule
        </paper-item>

        <!-- <paper-item class="iconListItem" onclick="window.location.href='weather'">
          <iron-icon icon="image:wb-cloudy"></iron-icon> Property monitor
        </paper-item> -->

        <!-- <paper-item class="iconListItem" onclick="window.location.href='view203'">
          <iron-icon icon="icons:settings-input-composite"></iron-icon> Panel synchronization
        </paper-item> -->
    </paper-listbox>

  </template>

  <script>
    class MainSiteNav extends Polymer.Element {
      static get is() { return 'main-site-nav' }
      // ---------------------------------------------------------------------------------------------------
      // initial settings
      // ---------------------------------------------------------------------------------------------------
      ready() {
        super.ready();
        var _this = this;
        setTimeout(function() { _this._ready(); }.bind(this), 0);
      }

      // ---------------------------------------------------------------------------------------------------
      // once everything loads...
      // ---------------------------------------------------------------------------------------------------
      _ready() {
        // console.log('ready(main-site-nav)...')
        this.addDevItem(0);
        return;
      }

      // add a development item to the menue, but not for the 'guest' user
      addDevItem(nTry) {
        if(nTry > 500) return;
        // wait to see if window.userId comes and try again
        if(window.userId === undefined) {
          var _this = this;
          setTimeout(function() {
            nTry++;
            _this.addDevItem(nTry);
          }, 10);
          return;
        }

        var itemNow = null;
        if(window.userId != "guest") {
          itemNow = document.createElement("paper-item");
          itemNow.setAttribute("class", "iconListItem");
          itemNow.setAttribute("onclick", "window.location.href='view102'");
          itemNow.innerHTML = '<iron-icon icon="notification:system-update"></iron-icon> Development';

          Polymer.dom(this.shadowRoot.querySelector("#siteNavMenu")).insertBefore(
            itemNow, Polymer.dom(this.shadowRoot.querySelector("#siteNavMenu")).firstChild
          );

          itemNow = document.createElement("paper-item");
          itemNow.setAttribute("class", "iconListItem");
          itemNow.setAttribute("onclick", "window.location.href='view203'");
          itemNow.innerHTML = '<iron-icon icon="notification:sync"></iron-icon> Panel synchronization';

          Polymer.dom(this.shadowRoot.querySelector("#siteNavMenu")).appendChild(itemNow);

          itemNow = document.createElement("paper-item");
          itemNow.setAttribute("class", "iconListItem");
          itemNow.setAttribute("onclick", "window.location.href='viewRefreshAll'");
          itemNow.innerHTML = '<iron-icon icon="icons:refresh"></iron-icon> Refresh All';

          Polymer.dom(this.shadowRoot.querySelector("#siteNavMenu")).appendChild(itemNow);

          itemNow = document.createElement("paper-item");
          itemNow.setAttribute("class", "iconListItem");
          itemNow.setAttribute("onclick", "window.location.href='view000'");
          itemNow.innerHTML = '<iron-icon icon="icons:content-copy"></iron-icon> Empty Example';

          Polymer.dom(this.shadowRoot.querySelector("#siteNavMenu")).appendChild(itemNow);
        }

        return;
      }
    }
    customElements.define(MainSiteNav.is, MainSiteNav);

  </script>
</dom-module>



<!-- ==================================================================================================== -->
<!--  -->
<!-- ==================================================================================================== -->
<dom-module id="paper-fab-spinner">
  <template>
    <!-- the common style -->
    <style include="app-theme"></style>
    <!-- the current module style -->
    <style>
      :host {
      }

      #fab {
        color: inherit;
      }

      #baseDiv {
        position:relative;

        @apply(--layout-horizontal);
        @apply(--layout-center);
      }

      .spinnerBig {
        -moz-transform: scale(2.3);
        -webkit-transform: scale(2.3);
        transform: scale(2.3);
        --paper-spinner-stroke-width: 1px;
      }
      .spinnerMini {
        -moz-transform: scale(1.7);
        -webkit-transform: scale(1.7);
        transform: scale(1.7);
        --paper-spinner-stroke-width: 1px;
      }

      #spinnerDiv {
        width:100%;
        position:absolute;
        display:block;
        top:0px;
        pointer-events: none;

        @apply(--layout-horizontal);
        @apply(--layout-center-justified);
      }

    </style>

    <div id="baseDiv">
      <div id='spinnerDiv'>
        <paper-spinner class$="{{spinnerType(mini)}}" active={{active}} id="spinner"></paper-spinner>
      </div>
      <paper-fab mini={{mini}} icon={{icon}} id="fab"></paper-fab>
    </div>
  </template>

  <script>
    class PaperFabSpinner extends Polymer.Element {
      static get is() { return 'paper-fab-spinner' }
      static get properties() {
        return {
          icon: {
              type: String,
              value: "",
              notify: true,
              reflectToAttribute: true
          },
          mini: {
            type: Boolean,
            value: false,
            reflectToAttribute: true
          },
          active: {
            type: Boolean,
            value: false,
            reflectToAttribute: true
          }
        }
      }

      ready() {
        super.ready();
        var _this = this;
        setTimeout(function() { _this._ready(); }.bind(this), 0);
      }

      _ready() {
        this.setSpinner();
        return;
      }

      setSpinner() {
        var tmpEle0 = document.createElement("paper-fab");
        var tmpEle1 = document.createElement("paper-spinner");
        tmpEle0.setAttribute("style","position:absolute; top:0px; opacity:0;");
        tmpEle1.setAttribute("style","position:absolute; top:0px; opacity:0;");
        tmpEle0.mini = this.mini;
        // tmpEle1.active = true;
        document.body.insertBefore(tmpEle0, document.body.children[0]);
        document.body.insertBefore(tmpEle1, document.body.children[0]);

        // make sure we have time to add the elements, and to get
        // their offsetHeight before we remove them
        var _this = this, nItr = 0;
        var getEleH = function(eleIn0,eleIn1) {
          nItr++
          setTimeout(function() {
            var h0 = eleIn0.offsetHeight;
            var h1 = eleIn1.offsetHeight;

            if(nItr > 1000) {
              console.log('too much time waiting in setSpinner()... (',h0,h1,') something is wrong !!!')
              return;
            }
            if(h0 < 1 || h1 < 1) getEleH(eleIn0,eleIn1);
            else {
              _this.$.spinnerDiv.style.top = ((h0 - h1)/2)+"px"

              eleIn0.remove();
              eleIn1.remove();
            }
          }, 10);
        }

        getEleH(tmpEle0,tmpEle1);

        return;
      }

      spinnerType(isMini) {
        return isMini ? "spinnerMini" : "spinnerBig";
      }

    }
    customElements.define(PaperFabSpinner.is, PaperFabSpinner);
  </script>
</dom-module>
