<!-- ==================================================================================================== -->
<!--  -->
<!-- ==================================================================================================== -->
<dom-module id="base-app">
  <template>
    <!-- the common style -->
    <style include="app-theme"></style>
    <!-- the index style -->
    <style>
      :host {
        --app-drawer-width: 400px;
      }
    </style>

    <!-- <app-drawer-layout id="mainAppDrawerLayout" fullbleed> -->
    <app-drawer-layout id="mainAppDrawerLayout" fullbleed force-narrow>

      <!-- ==================================================================================================== -->
      <!-- Right Drawer content (must be first defined drawer, in order to enable pin) -->
      <!-- ==================================================================================================== -->
      <!-- <app-drawer id="paperDrawerPanel1" slot="drawer" swipe-open opened persistent align="end"> -->
      <app-drawer id="paperDrawerPanel1" align="end" slot="drawer">
        <app-header-layout has-scrolling-region class="headerDrawerMain">
          <app-header slot="header" fixed>
            <app-toolbar  class="drawerToolbar">
              <div class="horizEle" style="width: 100%;">
                <div class="flexEle"></div>

                <div class="horizEle buttonRow primaryColFab" style="padding-right:10px">
                  <paper-fab mini icon="vaadin:pin" on-click=pin_drawerPanel1></paper-fab>
                  <paper-fab mini icon="more-vert" on-click=tog_paperDrawerPanel1></paper-fab>
                </div>

              </div>
            </app-toolbar>
          </app-header>

          <div style="text-align: left;">
            <div class="overflowDiv">
              <br>
              <div id="addRightSideMenu"></div>
              <br><br><br><br>
            </div>
          </div>
        </app-header-layout>
      </app-drawer>

      <!-- ==================================================================================================== -->
      <!-- Left Navigation content -->
      <!-- ==================================================================================================== -->
      <!-- <app-drawer id="paperDrawerPanel0" slot="drawer" swipe-open opened persistent> -->
      <app-drawer id="paperDrawerPanel0" slot="drawer">
        <app-header-layout has-scrolling-region class="headerDrawerMain">
          <app-header slot="header" fixed>
            <app-toolbar class="drawerToolbar">
              <div class="buttonRow primaryColFab">
                <paper-fab mini icon="close" on-click="tog_paperDrawerPanel0"></paper-fab>
              </div>
              <!-- <paper-icon-button noink icon="close" paper-drawer-left></paper-icon-button> -->
              <div class="menuHeader"></div>
            </app-toolbar>
          </app-header>

          <div>
            <div class="horizEle centJustEle">
              <paper-card style="width: 90% ">
                <div class="card-content">
                  <div class="horizEle">
                    <div class="primaryColHeader">
                      <iron-icon icon="menu"></iron-icon>Widgets
                    </div>
                    <div class="flexEle"></div>
                    <div class="buttonRow primaryColFab">
                      <paper-fab mini icon="unfold-less" class="parentCardHeaderTog" id="sideMenuNav_collapse_fab" on-click=tog_sideMenuNav_collapse></paper-fab>
                    </div>
                  </div>

                  <iron-collapse opened id="sideMenuNav_collapse">
                    <main-site-nav></main-site-nav>
                  </iron-collapse>

                </div>
              </paper-card>
            </div>

            <br>

            <div class="horizEle centJustEle">
              <paper-card style="width: 90% ">
                <div class="card-content">
                  <div class="horizEle">
                    <div class="primaryColHeader">
                      <iron-icon icon="icons:settings"></iron-icon>Session
                    </div>
                    <div class="flexEle"></div>
                    <div class="buttonRow primaryColFab">
                      <paper-fab
                        id="session_collapse_fab" mini icon="unfold-more" class="parentCardHeaderTog" on-click=tog_session_collapse
                      ></paper-fab>
                    </div>
                  </div>

                  <iron-collapse id="session_collapse">
                    <paper-listbox>
                        <paper-item class="iconListItem" onclick="window.location.href='logout'">
                          <iron-icon icon="social:person"></iron-icon> Log out / switch user
                        </paper-item>
                    </paper-listbox>
                  </iron-collapse>

                </div>
              </paper-card>
            </div>

            <br><br><br><br><br>
          </div>
        </app-header-layout>
      </app-drawer>


      <!-- ==================================================================================================== -->
      <!-- Main content -->
      <!-- ==================================================================================================== -->
      <app-header-layout has-scrolling-region force-narrow>
        <app-header slot="header" fixed>
          <app-toolbar  class="drawerToolbar">

            <div class="horizEle" style="width: 100%;">

              <div class="buttonRow primaryColFab">
                <paper-fab mini icon="menu" id="togDrawerPanel0" on-click=tog_paperDrawerPanel0></paper-fab>
              </div>

              <div class="menuHeader" id="siteNameDiv"></div>

              <div class="flexEle"></div>

              <div class="menuHeader" id="userNameDiv"></div>

              <div id="connectStatusDiv" style="opacity: 0">
                  <div id="connectStatusDiv_txt" class="horizEle centJustEle">?</div>
                  <div id="connectStatusDiv_tog" class="horizEle centJustEle">
                      <paper-toggle-button noink id="connectStatusDiv_btn"></paper-toggle-button>
                  </div>
              </div>

              <div class="horizEle buttonRow primaryColFab" style="padding-right:10px">
                <paper-fab id="pinDrawerPanel1" mini icon="vaadin:pin" on-click=pin_drawerPanel1></paper-fab>
                <paper-fab id="togDrawerPanel1" mini icon="more-vert" on-click=tog_paperDrawerPanel1></paper-fab>
              </div>
            </div>

          </app-toolbar>
        </app-header>

        <div class="overflowDiv">
          <div class="horizEle centJustEle">
            <paper-card class="parentCard">

              <!-- add debug stuff here ..... -->
              <!-- <div><form style="width: 100%;"><input class="formInput " type="text" required="true"></form></div> -->
              <!-- <div id="addMainDiv" class="card-content"></div> -->
              <div id="addMainDiv"></div>
            </paper-card>
          </div>

          <div id="toastsPutHere"></div>

          <!-- General messages -->
          <br>
          <div class="parentCard">
            <div class="horizEle">
              <div class="buttonRow backgroundColFab">
                <paper-fab mini icon="mail" onclick="window.location.href='mailto:iftach.sadeh@desy.de'"></paper-fab>
              </div>
              <div class="primaryColFab">
                For bug reports and feature requests, contact Iftach Sadeh.
              </div>
            </div>
          </div>

          <!-- <div style="line-height:400%;"><br></div> -->
        </div>
      </app-header-layout>
    </app-drawer-layout>
  </template>


  <!-- ==================================================================================================== -->
  <!--  -->
  <!-- ==================================================================================================== -->
  <script>
    class BaseApp extends Polymer.Element {
      static get is() { return 'base-app' }

      // -----------------------------------------------------------------------------------------------------------
      // properties
      // -----------------------------------------------------------------------------------------------------------
      static get properties() {
        return {
          widgetName: {
            type: String,
            value: ""
          }
        }
      }

      // -----------------------------------------------------------------------------------------------------------
      // initial settings
      // -----------------------------------------------------------------------------------------------------------
      ready() {
        super.ready();
        var _this = this;
        setTimeout(function() { _this._ready(); }.bind(this), 0);
      }

      // -----------------------------------------------------------------------------------------------------------
      // once everything loads...
      // -----------------------------------------------------------------------------------------------------------
      _ready() {
        var _this      = this;
        var widgetName = this.widgetName;

        if(widgetName === "notFound") console.warn('ready(base-app)...',widgetName);

        var divApp0 = document.createElement(this.getMainName());
        divApp0.id  = this.getMainName();
        Polymer.dom(this.shadowRoot.querySelector("#addMainDiv")).appendChild(divApp0);

        // site name
        var siteNameDiv = this.shadowRoot.querySelector("#siteNameDiv");
        siteNameDiv.innerHTML = 'CTA '+((window.__nsType__ == "N") ? "North" : "South");
        siteNameDiv.setAttribute("style","opacity:0.7; pointer-events:none");

        Polymer.dom.flush();


        if(widgetName == "login" || widgetName == "notFound") {
          this.shadowRoot.querySelector("#togDrawerPanel0").setAttribute("style","display:none;");;
          this.shadowRoot.querySelector("#togDrawerPanel1").setAttribute("style","display:none;");;
          this.shadowRoot.querySelector("#pinDrawerPanel1").setAttribute("style","display:none;");;

          // this.paperDrawerPanel0().disableEdgeSwipe = true;
          // this.paperDrawerPanel1().disableEdgeSwipe = true;
          return;
        }

        var noDrawerV = ["index"];
        if(noDrawerV.indexOf(widgetName) >= 0) {
          this.shadowRoot.querySelector("#togDrawerPanel1").disabled = true;
          this.shadowRoot.querySelector("#pinDrawerPanel1").disabled = true;
          // this.paperDrawerPanel1().disableEdgeSwipe = true;
        }

        // ---------------------------------------------------------------------------------------------------
        // load the main js script which sets everything up
        // ---------------------------------------------------------------------------------------------------
        $.getScript("/js/utils_setupView.js")

        return;
      }

      // access functions
      isSpecialWidget() {
        return (
          this.widgetName == 'login'          ||
          this.widgetName == 'index'          ||
          this.widgetName == 'notFound'       ||
          this.widgetName == 'viewRefreshAll'
        );
      }
      getMainName() {
        if(this.isSpecialWidget()) return String(this.widgetName+"-main").toLowerCase();
        else                       return "common-view-main";
      }
      getDrawerName() {
        if(this.isSpecialWidget()) return String(this.widgetName+"-my-drawer").toLowerCase();
        else                       return "common-view-drawer";
      }
      // getMainName()   { return String(this.widgetName+"-main"); }
      // getDrawerName() { return String(this.widgetName+"-my-drawer").toLowerCase(); }

      main()   { return this.shadowRoot.querySelector("#"+this.getMainName());   }
      drawer() { return this.shadowRoot.querySelector("#"+this.getDrawerName()); }
      getEle(tag) { return this.shadowRoot.querySelector("#"+tag); }

      appDrawerLayout() { return this.shadowRoot.querySelector("#"+"mainAppDrawerLayout"); }
      paperDrawerPanel0() { return this.shadowRoot.querySelector("#"+"paperDrawerPanel0"); }
      paperDrawerPanel1() { return this.shadowRoot.querySelector("#"+"paperDrawerPanel1"); }
      // topRightMenuTog() { return this.shadowRoot.querySelector("#"+"topRightMenuTog"); }
      connectStatusDiv(tag) { return this.shadowRoot.querySelector("#"+"connectStatusDiv"+tag); }
      userNameDiv() { return this.shadowRoot.querySelector("#"+"userNameDiv"); }

      tog_sideMenuNav_collapse() {
        this._togKeyboardArrow("sideMenuNav_collapse");
      }
      tog_session_collapse() {
        this._togKeyboardArrow("session_collapse");
      }
      _togKeyboardArrow(tag) {
        tog_keyboardArrow({
            main: this.shadowRoot.querySelector("#"+tag),
            fab:  this.shadowRoot.querySelector("#"+tag+"_fab"),
            icon: this.shadowRoot.querySelector("#"+tag+"_icon")
        });
      }

      tog_paperDrawerPanel0() {
        togDrawerWithPin(this.appDrawerLayout(), this.paperDrawerPanel0());
      }
      tog_paperDrawerPanel1() {
        togDrawerWithPin(this.appDrawerLayout(), this.paperDrawerPanel1());
      }

      pin_drawerPanel1() {
        pinDrawer(this.appDrawerLayout(), this.paperDrawerPanel1());
      }

    }
    customElements.define(BaseApp.is, BaseApp);

  </script>
</dom-module>


<!-- ==================================================================================================== -->
<!--  -->
<!-- ==================================================================================================== -->
<dom-module id="common-view-main">
  <template>
    <style is="custom-style" include="app-theme"></style>
    <style>
      :host {
      }

    </style>

    <!-- <div class="horizEle parentCardHeader">
      CTA operator GUI
    </div>
    <br> -->

    <iron-collapse opened id="content"></iron-collapse>

  </template>

  <script>
    class CommonViewMain extends Polymer.Element {
      static get is() { return 'common-view-main' }
      content() { return this.shadowRoot.querySelector("#"+"content"); }
      getEle(tag) { return this.shadowRoot.querySelector("#"+tag); }
    }
    customElements.define(CommonViewMain.is, CommonViewMain);

  </script>
</dom-module>

<!-- ==================================================================================================== -->
<!--  -->
<!-- ==================================================================================================== -->
<dom-module id="common-view-drawer">
  <template>
    <style is="custom-style" include="app-theme"></style>
    <style>
      :host {
      }

    </style>

    <div id="content"></div>

  </template>

  <script>
    class CommonViewDrawer extends Polymer.Element {
      static get is() { return 'common-view-drawer' }
      content() { return this.shadowRoot.querySelector("#"+"content"); }
      getEle(tag) { return this.shadowRoot.querySelector("#"+tag); }
    }
    customElements.define(CommonViewDrawer.is, CommonViewDrawer);
  </script>
</dom-module>

<!-- ==================================================================================================== -->
<!--  -->
<!-- ==================================================================================================== -->
<dom-module id="widget-drawer">
  <template>
    <style include="app-theme"></style>
    <style>
      :host {
      }
    </style>

    <!-- ==================================================================================================== -->
    <!--  -->
    <!-- ==================================================================================================== -->
    <div class="horizEle centJustEle" style="width: 100%">
      <div class="horizEle centJustEle" style="width: 100%">
        <paper-card style="width: 90% ">
          <div class="card-content" id="parCutDiv_parent">
            <div class="horizEle">
              <div id="iconDiv"></div>
              <div class="flexEle"></div>
              <div class="buttonRow primaryColFab">
                <paper-fab mini icon="unfold-more" class="parentCardHeaderTog" id="[[collapseId]]_fab" on-click=togCollapse></paper-fab>
              </div>
            </div>

            <iron-collapse id="[[collapseId]]" style="width: 100%">
              <div style="line-height:50%;"><br></div>

              <!-- ===============================================================
              ====================================================================
              comment out for now .... fix for arrZoomer .....
              ====================================================================
              <div class="primaryColHeader">
                <iron-icon icon="icons:settings"></iron-icon> Choose array layout
              </div>
              <div class="horizEle">
                <paper-radio-group selected="physical" id="arrayLayout">
                  <paper-radio-button style="width:100%" noink name="physical">Physical position</paper-radio-button>
                  <paper-radio-button style="width:100%" noink name="subArr">Sub-array grouping</paper-radio-button>
                </paper-radio-group>
              </div>
              =============================================================== -->

            </iron-collapse>

          </div>
        </paper-card>
      </div>
      <br>
    </div>
    <br>

  </template>

  <script>
    class WidgetDrawer extends Polymer.Element {
      static get is() { return 'widget-drawer' }

      // -----------------------------------------------------------------------------------------------------------
      // properties
      // -----------------------------------------------------------------------------------------------------------
      static get properties() {
        return {
          collapseId: {
            type: String,
            value: "",
          },

          widgetId: {
            type: String,
            value: "",
          }
        }
      }

      // -----------------------------------------------------------------------------------------------------------
      // initial settings
      // -----------------------------------------------------------------------------------------------------------
      ready() {
        super.ready();
        var _this = this;
        setTimeout(function() { _this._ready(); }.bind(this), 0);
      }

      // -----------------------------------------------------------------------------------------------------------
      // once everything loads...
      // -----------------------------------------------------------------------------------------------------------
      _ready() {
        this.widget = null;
        // this.collapseId = this.unique();

        // for debugging.....
        var _this = this;
        setTimeout(function() {
          _this.togCollapse();
        }, 500);

        // ------------------------------------------------------------------------
        // ------------------------------------------------------------------------
        // comment out for now .... fix for arrZoomer .....
        // ------------------------------------------------------------------------
        // // setup a listner for the layout selector
        // this.shadowRoot.querySelector("#arrayLayout").addEventListener('paper-radio-group-changed', function() {
        //   _this.widget.setTelLayout(_this.shadowRoot.querySelector("#arrayLayout").selectedItem.name);
        //   return;
        // });
        // ------------------------------------------------------------------------
        // ------------------------------------------------------------------------
        // ------------------------------------------------------------------------

        // notify the outside that this function has completed
        this.dispatchEvent(new CustomEvent('widget-drawer-ready', { bubbles:true, composed:true, detail:{} }))

        return;
      }

      setWidgetId(widgetId) {
        this.collapseId = widgetId+"_rnd"+(Date.now()).toString();
        this.widgetId   = widgetId;
        return;
      }

      setWidget(widget) {
        this.widget = widget;
        return;
      }

      togCollapse() {
        var tag = this.collapseId;
        tog_keyboardArrow({
            main: this.shadowRoot.querySelector("#"+tag),
            fab:  this.shadowRoot.querySelector("#"+tag+"_fab"),
            icon: null
        });
        return;
      }

      setIconDivId(iconDivId) {
        if(!iconDivId) return;

        var iconSizeRatio = 0.7;
        var tabH = this.shadowRoot.querySelector("#parCutDiv_parent").getBoundingClientRect().height;
        var tabW = this.shadowRoot.querySelector("#parCutDiv_parent").getBoundingClientRect().width;

        var iconDivH = tabH * iconSizeRatio;
        this.shadowRoot.querySelector("#iconDiv").setAttribute("style", "width:"+iconDivH+"px;height:"+iconDivH+"px;");
        this.shadowRoot.querySelector("#iconDiv").classList.add('vertEle');

        var iconDiv = document.createElement("div");
        iconDiv.id  = iconDivId;

        if(this.shadowRoot.querySelector('#'+iconDivId)) {
          this.shadowRoot.querySelector("#iconDiv").removeChild(this.shadowRoot.querySelector('#'+iconDivId));
        }
        this.shadowRoot.querySelector("#iconDiv").appendChild(iconDiv);

        return;
      }

      getEle(tag) { return this.shadowRoot.querySelector("#"+tag); }

    }
    customElements.define(WidgetDrawer.is, WidgetDrawer);

  </script>
</dom-module>

<!-- ==================================================================================================== -->
<!--  -->
<!-- ==================================================================================================== -->
<dom-module id="index-main">
  <template>
    <style include="app-theme"></style>
    <style>
      :host {
      }
    </style>
    <div class="horizEle parentCardHeader">
      CTA operator GUI
    </div>
    <br>
    <div class="horizEle">
      <main-site-nav style="width:100%;"></main-site-nav>
    </div>
  </template>

  <script>
    class IndexMain extends Polymer.Element {
      static get is() { return 'index-main' }
    }
    customElements.define(IndexMain.is, IndexMain);
  </script>
</dom-module>

<!-- ==================================================================================================== -->
<!--  -->
<!-- ==================================================================================================== -->
<dom-module id="index-my-drawer">
  <template>
    <style include="app-theme"></style>
    <style>
      :host {
      }
    </style>

  </template>

  <script>
    class IndexDrawer extends Polymer.Element {
      static get is() { return 'index-my-drawer' }
    }
    customElements.define(IndexDrawer.is, IndexDrawer);
  </script>
</dom-module>

<!-- ==================================================================================================== -->
<!--  -->
<!-- ==================================================================================================== -->
<dom-module id="login-main">
  <template>
    <style include="app-theme"></style>
    <style>
      :host {
      }
    </style>

    <div class="horizEle parentCardHeader">
      CTA operator GUI
    </div>
    <br>
    <div class="horizEle centJustEle" style="width:100%">
      <div style="min-width:200px; width:50%">

        <iron-form id="loginForm">
          <form method="get" action="/{{appPrefix}}/login">

            <div class="horizEle" style="width:100%">
              <paper-input id='username' name="username" label="Username" value='' style="width:100%"></paper-input>
            </div>
            <div class="horizEle" style="width:100%">
              <paper-input id='password' name="password" label="Password" value='' type="password" style="width:100%"></paper-input>
            </div>

            <iron-a11y-keys
                id="a11y" target="[[target]]" keys="enter" on-keys-pressed="submitForm">
            </iron-a11y-keys>

            <br>
            <div class="horizEle centJustEle normalTxtButtonCntr" style="width:100%;">
              <paper-button raised noink on-click=submitForm style="width:80%">Login</paper-button>
            </div>
          </form>
        </iron-form>
      </div>
    </div>
    <div style="line-height:200%;"><br></div>
    <paper-toast opened class='it-bottom' duration='0' text="Log-in is implemented for development purposes... Please use username = 'guest' and a password '123' or 'user0' with 'xxx'"></paper-toast>
  </template>

  <script>
    class LoginMain extends Polymer.Element {
      static get is() { return 'login-main' }

      // -----------------------------------------------------------------------------------------------------------
      // initial settings
      // -----------------------------------------------------------------------------------------------------------
      ready() {
        super.ready();
        var _this = this;
        setTimeout(function() { _this._ready(); }.bind(this), 0);
      }

      // -----------------------------------------------------------------------------------------------------------
      // once everything loads...
      // -----------------------------------------------------------------------------------------------------------
      _ready() {
        var _this = this;
        this.appPrefix = window.__appPrefix__;

        this.shadowRoot.querySelector('#loginForm').addEventListener('iron-form-presubmit', function() {
          console.log('iron-form-presubmit',this.request.params);
          // this.request.params['username'] = _this.shadowRoot.querySelector('#username').value;
          // this.request.params['password'] = _this.shadowRoot.querySelector('#password').value;
        });

        this.shadowRoot.querySelector('#loginForm').addEventListener('iron-form-response', function (e) {
          // console.log('iron-form-response',this.request.params);
          // redirect to the index page (if the user and pass were nor correct, the
          // index will bring us back again here)
          window.location.replace('/'+_this.appPrefix+'/index');
        });

        return;
      }

      submitForm() {
        // console.log('pp',this.shadowRoot.querySelector('#loginForm'));
        this.shadowRoot.querySelector('#loginForm').submit();
        return;
      }

    }
    customElements.define(LoginMain.is, LoginMain);
  </script>
</dom-module>

<!-- ==================================================================================================== -->
<!--  -->
<!-- ==================================================================================================== -->
<dom-module id="notfound-main">
  <template>
    <style include="app-theme"></style>
    <style>
      :host {
      }
    </style>
    <div class="horizEle parentCardHeader">
      Page not found
    </div>
    <br>
    <div class="horizEle titleTxt">
      Redirecting home ...
    </div>
    <div style="line-height:150%;"><br></div>
    <div class="horizEle centJustEle" style="width:100%;">
      <paper-progress class="primaryColProgress thinProgress" indeterminate style="width:80%;"></paper-progress> <!-- indeterminate -->
    </div>
    <!-- <meta http-equiv="refresh" content="3;url=/" /> -->
    <br>
  </template>

  <script>
    class NotFoundMain extends Polymer.Element {
      static get is() { return 'notfound-main' }

      // -----------------------------------------------------------------------------------------------------------
      // initial settings
      // -----------------------------------------------------------------------------------------------------------
      ready() {
        super.ready();
        var _this = this;
        setTimeout(function() { _this._ready(); }.bind(this), 0);
      }

      _ready() {
        // console.log('NotFoundMain:','/'+window.__appPrefix__+'/index');
        setTimeout(function() { window.location.replace('/'+window.__appPrefix__+'/index'); }, 2000);
      }

    }
    customElements.define(NotFoundMain.is, NotFoundMain);
  </script>
</dom-module>

<!-- ==================================================================================================== -->
<!--  -->
<!-- ==================================================================================================== -->
<dom-module id="viewrefreshall-main">
  <template>
    <style include="app-theme"></style>
    <style>
      :host {
      }
    </style>
    <div class="horizEle parentCardHeader">
      CTA operator GUI
    </div>
    <br>
    <br>
    <br>
    <div class="horizEle childCardHeader">
      Refresh this page in order to force-refresh all other pages...
    </div>
    <br>
    <br>
  </template>

  <script>
    class ViewRefreshAll extends Polymer.Element {
      static get is() { return 'viewrefreshall-main' }
    }
    customElements.define(ViewRefreshAll.is, ViewRefreshAll);
  </script>
</dom-module>

<!-- ==================================================================================================== -->
<!--  -->
<!-- ==================================================================================================== -->
<dom-module id="viewrefreshall-my-drawer">
  <template>
    <style include="app-theme"></style>
    <style>
      :host {
      }
    </style>
  </template>

  <script>
    class ViewRefreshAllDrawer extends Polymer.Element {
      static get is() { return 'viewrefreshall-my-drawer' }
    }
    customElements.define(ViewRefreshAllDrawer.is, ViewRefreshAllDrawer);
  </script>
</dom-module>
