
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta http-equiv="Expires" content="-1">
    
    <!-- set a global variable (must come before anything else) -->
    <script>
        window.__appPrefix__ = '{{app_prefix}}'
        window.__nsType__ = '{{ns_type}}'
        window.__widgetName__ = '{{widget_name}}'
        window.__display_userid__ = '{{display_userid}}'
    </script>

    <meta charset="UTF-8" />
    <title>CTA</title>
    
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <!-- <link rel="icon" type="image/x-icon" href="/static/siteIcon.png"/> -->
    <link rel="icon" type="image/x-icon" href="/static/icon-batman.png"/>

    <!-- executed sed 's/d3/d3_3_5_17/g' bower_components/d3/d3.min.js -->
    <!-- <script type="text/javascript" src="/js/dc_d3_3_5_17/d3_3_5_17.min.js"></script> -->
    <script type="text/javascript" src="/bower_components/d3/d3.js"></script>
    <script type="text/javascript" src="/js/d3_hexbin/d3-hexbin.v0.2.min.js"></script>
    <!-- <script type="text/javascript" src="/bower_components/crossfilter/crossfilter.min.js"></script> -->

    <!-- executed: sed 's/d3/d3_3_5_17/g' bower_components/dcjs/dc.js -->
    <!-- <link rel="stylesheet" type="text/css" href="/js/dc_d3_3_5_17/dc.min.css"> -->

    <script type="text/javascript" src="/bower_components/textures/dist/textures.js"></script>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="/bower_components/jquery-ui/jquery-ui.min.js"></script> -->
    <!-- <script type="text/javascript" src="/bower_components/jszip/dist/jszip.min.js"></script> -->
    <!-- <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script> -->
    <!-- <script type="text/javascript" src="/bower_components/sprintf/dist/sprintf.min.js"></script> -->

    <!-- socket.io -->
    <script type="text/javascript" src="/bower_components/gevent-socketio/examples/simple_pyramid_chat/chatter2/static/socket.io.js"></script>

    <!-- ========================================================================= -->
    <!-- themes and styles -->
    <!-- ========================================================================= -->
    <!-- <link rel="import" href="/bower_components/font-roboto/roboto.html"> -->
    <!-- <link rel="import" href="/styles/app-theme.html"> -->
    
    <link rel="stylesheet" type="text/css" href="/styles/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/general_style.css"/>
    <link href="/static/fontawesome-free-5.12.0-web/css/all.css" rel="stylesheet">

  </head>

  <!-- ========================================================================= -->
  <body>
    <div id="topPaddingDiv"></div>
    
    <div id="titleDiv" class="menuHeader siteHeader"> CTA operator Interface </div>
    
    <div id="baseAppNEW"></div>

    <div id="sideMenu"></div>
    <div id="topMenu" class="horizEle gridEleBodyDark" style="width: 100%; display: flex; align-items: center; position: fixed; top: 0; opacity: 1;">
      <div id="topMenuInner" class="horizEle " style="width: 100%; margin-top: 12px; margin-bottom: 12px; ">
        <div style="margin-left: 2%;"></div>
        
        <div id="topMenuLeft"></div>

        <div class="flexEle"></div>

        <div class="menuHeader" id="userNameDiv" style="opacity:0.8; pointer-events:none">{{display_userid}}</div>
        <div style="margin-right: 3px;"></div>


        <div id="logoutBtnDiv" style="opacity:1; pointer-events:none;">
          <div class="tooltip">
            <div id="logoutBtn" class="fa fa-sign-out-alt fa-circle-button fa-circle-button-dark"></div>
            <span class="tooltiptext">Log out</span>
          </div>
        </div>

        <div id="userConStatDiv" style="opacity: 0; pointer-events:none">
          <div class="tooltip">
            <div id="userConStatDiv_tog">
                <label class="switch">
                  <input type="checkbox" checked id="userConStatDiv_btn">
                  <span class="slider round"></span>
                </label>
            </div>
            <span class="tooltiptext">Connection status</span>
          </div>
        </div>

        <div id="serverConStatDiv" style="opacity: 0; pointer-events:none">
          <div class="tooltip">
            <div id="serverConStatDiv_btn" style="opacity: 1; pointer-events:none" class="status-indicator status-indicator-on"></div>
            <span class="tooltiptext">Server status</span>
          </div>
        </div>

        <div style="margin-right: 2%;"></div>
      </div>
    </div>


    <script type="text/javascript">
      $.getScript('/js/utils_baseApp.js', function () {
        window.baseApp.init({
          widget_name: '{{widget_name}}',
        })
      })
    </script>

    <!-- <paper-toast opened class='it-bottom' duration='0' text="Log-in is implemented for development purposes... Please use username = 'guest' and a password '123' or 'user0' with 'xxx'"></paper-toast> -->

  </body>
</html>
  <!-- ========================================================================= -->

